ProjectC/force-app/main/default/flows/Clone_Account_record_with_its_related_Contacts_Orders_and_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Account_Assignment</name>
        <label>Account Assignment</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NewAccountVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cases_Assignment</name>
        <label>Cases Assignment</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CasesVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Loop_Cases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasesVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_All_Related_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_All_Related_Cases</name>
        <label>Collect All Related Cases</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Collect_All_Cases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CasesVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_All_Related_Contacts</name>
        <label>Collect All Related Contacts</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Collect_All_Contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactsVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_loop_for_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_SMB_Order_Records</name>
        <label>Collect SMB Order Records</label>
        <locationX>490</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Collect_All_SMB_Orders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SMBOrderVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Loop_SMB_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contacts_Assignment</name>
        <label>Contacts Assignment</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ContactsVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_loop_for_Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactsVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_All_Related_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SMB_Order_Assignment</name>
        <label>SMB Order Assignment</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SMBOrderVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Loop_SMB_Orders</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMBOrderVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_SMB_Order_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>534</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contacts_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Contacts</targetReference>
            </connector>
            <label>Contacts Criteria</label>
        </rules>
        <rules>
            <name>SMB_Orders_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SMB_Orders</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_SMB_Orders</targetReference>
            </connector>
            <label>SMB Orders Criteria</label>
        </rules>
        <rules>
            <name>Cases_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cases</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Related_Cases</targetReference>
            </connector>
            <label>Cases Criteria</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Clone Account record with its related Contacts, Orders and Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Account record with its related Contacts, Orders and Cases</label>
    <loops>
        <name>For_Each_Loop_Cases</name>
        <label>For Each Loop Cases</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_All_Related_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cases_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clone_Related_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_loop_for_Contacts</name>
        <label>For Each loop for Contacts</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Related_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contacts_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Related_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Loop_SMB_Orders</name>
        <label>For Each Loop SMB Orders</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Related_SMB_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SMB_Order_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clone_SMB_Order_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Clone_Account_Record</name>
        <label>Clone Account Record</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Contacts</targetReference>
        </connector>
        <inputReference>NewAccountVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Clone_Related_Cases</name>
        <label>Clone Related Cases</label>
        <locationX>754</locationX>
        <locationY>1298</locationY>
        <inputReference>Collect_All_Cases</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Clone_SMB_Order_Records</name>
        <label>Clone SMB Order Records</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <inputReference>Collect_All_SMB_Orders</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_Contacts</name>
        <label>Create Related Contacts</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <inputReference>Collect_All_Contacts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Related_Cases</name>
        <label>Get All Related Cases</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Loop_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contacts</name>
        <label>Get Related Contacts</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_loop_for_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_SMB_Orders</name>
        <label>Get Related SMB Orders</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Loop_SMB_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Contacts</name>
        <label>Contacts</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <fields>
            <name>Contact</name>
            <dataType>Boolean</dataType>
            <fieldText>Contacts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SMB_Orders</name>
            <dataType>Boolean</dataType>
            <fieldText>SMB Orders</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cases</name>
            <dataType>Boolean</dataType>
            <fieldText>Cases</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Screen</name>
        <label>Display_Screen</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <fields>
            <name>Clone_function</name>
            <fieldText>&lt;p&gt;Clone Account record with its related contacts, SMB Orders and Cases Records.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Display_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CasesVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Collect_All_Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Collect_All_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Collect_All_SMB_Orders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ContactsVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewAccountVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMBOrderVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
